<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/header-scripts.ejs") %>
</head>

<body class="custom-cursor">

    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>


    <div class="preloader">
        <!-- <div class="preloader__image" style="background-image: url(/assets/images/loader.png);"></div> -->

        <div class="preloader__image" style="background-image: url(/assets/images/nepali-roots/logos/logo-red.png);">
        </div>
    </div>

    <!-- /.preloader -->
    <div class="page-wrapper">

        <%- include ("../partials/header-menus.ejs") %>


            <section class="page-header @@extraClassName">
                <div class="page-header__bg"
                    style="background-image: url('/assets/images/nepali-roots/banners/subpage-banner-2.png');"></div>
                <!-- /.page-header__bg -->
                <div class="container">
                    <h2 class="page-header__title">Blog Posts</h2>
                    <ul class="cleenhearts-breadcrumb list-unstyled">
                        <li><i class="icon-home"></i> <a href="/">Home</a></li>
                        <li><span>Blog Posts</span></li>
                    </ul><!-- /.thm-breadcrumb list-unstyled -->
                </div><!-- /.container -->
            </section><!-- /.page-header -->


            <section class="event-details section-space">
                <div class="container">
                    <div class="row gutter-y-60">
                        <div class="col-lg-8">
                            <div class="event-details__content">
                                <div class="event-details__image wow fadeInUp" data-wow-duration="1500ms"
                                    data-wow-delay="00ms">
                                    <img src="/assets/images/nepali-roots/events/financial-planning-sashwat.jpg"
                                        alt="event-details">
                                    <!-- <div class="event-details__hall">
                                        <span>Hall no:</span>
                                        <span>69</span>
                                    </div> -->
                                    <!-- /.event-details__hall -->
                                    <div class="event-details__date">
                                        <span>15</span>
                                        <span>NOV</span>
                                    </div><!-- /.event-details__date -->
                                </div><!-- /.event-details__image -->
                                <div class="event-details__time">
                                    <i class="event-details__time__icon fa fa-video"></i>
                                    <a class="event-details__time__text" href="https://www.youtube.com/watch?v=mbdzvChA_sI" target="_blank">Watch On YouTube</a>

                                    
                                </div><!-- /.event-details__time -->
                                <h3 class="event-details__title">
                                    Top 10 key take aways from 'Financial Planning and Investment Strategies for Working Professionals in Germany' webinar.
                                </h3><!-- /.event-details__title -->
                                <div class="event-details__text">
                                    <p class="event-details__text__inner">
                                        10 Key Takeaways from the Webinar with Mr. Shaswat Pokhrel on 'Financial Planning and Investment
                                         Strategies for Working Professionals in Germany' organized by Nepali Roots on 15.11.2024.

                                    </p>
                                   
                                    <br>

                                    <ol class="event-details__inner__list">
                                        <li>
                                            <p>
                                                Role of Financial Advisor: <br>
                                                A financial advisor is a professional who can assist you in creating and 
                                                implementing a personalized plan to purse your financial goals and guide you to avoid common pitfalls.

                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                Hiring of Financial Advisor: <br>
                                                In Germany, there are no fees to hire a financial advisor. A student, employed or self-employed, anyone can reach out to a financial advisor. 
                                                The necessitates is the trust and openness between both parties. 

                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                Financial Analysis: <br>
                                                This is the first steps to your financial plan. In this step, financial advisors note all your 
                                                financial goals & situations, which should cover all your priorities, obligations, retirement needs, income sources. You should also provide information regarding 
                                                your family situation, real estate planning, risk tolerance & other financial issues.

                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                Pathway of Financial Plan: <br>
                                                Based on your financial goals & situations, financial advisor will create a strategy for you. It is a personal financial road maps, you can follow and adapt to purse your goals. With
                                                changing situation and market condition, financial advisor will review your plan & reevaluate them accordingly.
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                Consultation: <br>
                                                Your financial plan includes amount you should save, types of account you need, kinds of insurance you 
                                                should have and your real estate & tax planning. Financial advisor is your educator who helps to understand the financial services you need and 
                                                why you need them, they will also be there for you to help and guide you in your financial pivotal period.

                                            </p>
                                        </li>

                                        <li>
                                            <p>
                                                Formula for financial happiness:<br>
                                                The formula to optimize your household budget is to divide your Net-income into 4 different expense ratios,
                                                that is 30% into your housing expenses, 30% into living expenses, 30% into the saving/investment and remaining 10% into your financial protection. 
                                                It is also recommended to hold at least 3 months of Net-income for emergency funds.


                                            </p>
                                        </li>

                                        <li>
                                            <p>
                                                Pyramid of wealth:<br>
                                                Only striving to increase your wealth is not a good strategy to financial success. You need to create a strong foundation for your wealth through asset & health protection. Securing yourself & your
                                                family with approximate insurance will ensure that your finance remain stable even in uncertain period.

                                            </p>
                                        </li>

                                        <li>
                                            <p>
                                                Real Estate:<br>
                                                Buying a real estate is not only a good investment strategy, but a good measure to lower your expenses & build
                                                your assets. Real Estate will be the biggest purchase of your life, it is always recommended to consult an advisor and plan ahead, at least 3 months before. You need to make sure that you have enough own capital for the extra cost 
                                                and even better to have a minimum downpayment of 10% or any alternative collateral.
                                            </p>
                                        </li>

                                        <li>
                                            <p>
                                                Retirement:<br>
                                                To retire early and with adequate source of income is an important topic in Germany, even more so 
                                                because of falling social security system. Government pension alone is not sufficient to sustain life, so government provide tax incentives and subsidies for those who take private pension plans. There are 3 tier of pension plans and which is most beneficial for you depends 
                                                upon your financial goals and duration of investment. 

                                            </p>
                                        </li>


                                        <li>
                                            <p>
                                                Wealth Accumulation:<br>
                                                From highly risky investment of crypto to secure investment on mutual funds, choice of investment 
                                                depends upon on your risk appetite, goal of investment and how actively can you manage them. Investment should be diversified into different sectors, and different method of investment, 
                                                so that you can focus your investment into return, security and availability.

                                            </p>
                                        </li>


                                    </ol>
                                </div><!-- /.event-details__text -->

                            </div><!-- /.event-details__content -->

                        </div><!-- /.col-lg-8 -->
                        <div class="col-lg-4">
                            <aside class="sidebar-event">
                                <div class="sidebar-event__contact contact-one sidebar-event__item wow fadeInUp"
                                    data-wow-duration="1500ms" data-wow-delay="00ms">
                                    <div class="contact-one__info">
                                        <div class="contact-one__info__item">
                                            <div class="contact-one__info__icon">
                                                <span class="icon-location"></span>
                                            </div><!-- /.contact-one__info__icon -->
                                            <div class="contact-one__info__content">
                                                <h4 class="contact-one__info__title"> Address</h4>
                                                <address class="contact-one__info__text">
                                                    Munich, Germany</address>
                                            </div><!-- /.contact-one__info__content -->
                                        </div><!-- /.contact-one__info__item -->
                                        <div class="contact-one__info__item">
                                            <div class="contact-one__info__icon">
                                                <span class="icon-phone"></span>
                                            </div><!-- /.contact-one__info__icon -->
                                            <div class="contact-one__info__content">
                                                <h4 class="contact-one__info__title">Social Media Contacts</h4>
                                                <a href="https://www.facebook.com/groups/1302870024426255/"
                                                    target="_blank"
                                                    class="contact-one__info__text contact-one__info__text--link">
                                                    Via Facebook or Linkedin
                                                </a>
                                            </div><!-- /.contact-one__info__content -->
                                        </div><!-- /.contact-one__info__item -->
                                        <div class="contact-one__info__item">
                                            <div class="contact-one__info__icon">
                                                <span class="icon-envelope"></span>
                                            </div><!-- /.contact-one__info__icon -->
                                            <div class="contact-one__info__content">
                                                <h4 class="contact-one__info__title"> Email</h4>
                                                <a href="mailto:contact@nepaliroots.org"
                                                    class="contact-one__info__text contact-one__info__text--link">contact@nepaliroots.org</a>
                                            </div><!-- /.contact-one__info__content -->
                                        </div><!-- /.contact-one__info__item -->
                                    </div><!-- /.contact-one__info -->
                                    <div class="sidebar-event__contact__image">
                                        <img src="/assets/images/nepali-roots/events/contact-us.jpg" alt="events">
                                    </div><!-- /.sidebar-event__contact__image -->
                                </div><!-- /.sidebar-event__contact -->

                            </aside><!-- /.sidebar-event -->
                        </div><!-- /.col-lg-4 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </section><!-- /.event-details -->



            <%- include ("../partials/footer.ejs") %>

    </div><!-- /.page-wrapper -->

    <%- include ("../partials/mobile-menus.ejs") %>


        <%- include ("../partials/scroll-to-top.ejs") %>
            <%- include ("../partials/sidebar-right-overlay.ejs") %>

                <%- include ("../partials/footer-scripts.ejs") %>
</body>

</html>