<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/header-scripts.ejs") %>
</head>

<body class="custom-cursor">

    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>


    <div class="preloader">
        <!-- <div class="preloader__image" style="background-image: url(/assets/images/loader.png);"></div> -->

        <div class="preloader__image" style="background-image: url(/assets/images/nepali-roots/logos/logo-red.png);">
        </div>
    </div>

    <!-- /.preloader -->
    <div class="page-wrapper">

        <%- include ("../partials/header-menus.ejs") %>


            <section class="page-header @@extraClassName">
                <div class="page-header__bg"
                    style="background-image: url('/assets/images/nepali-roots/banners/subpage-banner-2.png');"></div>
                <!-- /.page-header__bg -->
                <div class="container">
                    <h2 class="page-header__title">Blog Posts</h2>
                    <ul class="cleenhearts-breadcrumb list-unstyled">
                        <li><i class="icon-home"></i> <a href="/">Home</a></li>
                        <li><span>Blog Posts</span></li>
                    </ul><!-- /.thm-breadcrumb list-unstyled -->
                </div><!-- /.container -->
            </section><!-- /.page-header -->


            <section class="event-details section-space">
                <div class="container">
                    <div class="row gutter-y-60">
                        <div class="col-lg-8">
                            <div class="event-details__content">
                                <div class="event-details__image wow fadeInUp" data-wow-duration="1500ms"
                                    data-wow-delay="00ms">
                                    <img src="/assets/images/nepali-roots/events/blog-1.png" alt="event-details">
                                    <!-- <div class="event-details__hall">
                                        <span>Hall no:</span>
                                        <span>69</span>
                                    </div> -->
                                    <!-- /.event-details__hall -->
                                    <div class="event-details__date">
                                        <span>18</span>
                                        <span>Sep</span>
                                    </div><!-- /.event-details__date -->
                                </div><!-- /.event-details__image -->
                                <div class="event-details__time">
                                    <i class="event-details__time__icon fa fa-clock"></i>
                                    <span class="event-details__time__text">19:00 - 20.00</span>
                                </div><!-- /.event-details__time -->
                                <h3 class="event-details__title">
                                    Top 10 key take aways from 'How to start a business in Germany?' webinar.
                                </h3><!-- /.event-details__title -->
                                <div class="event-details__text">
                                    <p class="event-details__text__inner">
                                        Here are 10 key takeaways from the webinar conducted by Nepali Roots and
                                        presented by Sandeep Bastola and Yatindra Shashi on 18th September 2029. These
                                        takeaways summarize the practical advice given during the webinar, focusing on
                                        starting a business in Germany, legal and financial aspects, and leveraging
                                        available resources.
                                    </p>
                                    <p>
                                        Recording of the webinar can be found
                                        <a href="https://www.youtube.com/watch?v=3dZC6azH6EQ" target="_blank">here.
                                        </a>
                                    </p>
                                    <ul class="event-details__inner__list">
                                        <li>
                                            <p>
                                                How to Start a Business in Germany: <br>
                                                • Thorough Planning: To start a business in Germany, ensure you have a
                                                solid business plan, understand the market, and research legal
                                                requirements thoroughly. <br>
                                                • Language & Networking: Basic German language skills and networking
                                                with local entrepreneurs or mentors can be highly beneficial.
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                Startup Partners & Grants: <br>
                                                • Explore Partnerships: Seek out co-founders, investors, and startup
                                                incubators to enhance your business’s chances of success.<br>
                                                • Grants Availability: Germany offers a variety of grants and subsidies
                                                for startups, especially in tech and sustainability sectors.
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                Participate in Hackathons: <br>
                                                • Innovation Boost: Hackathons are a great way to innovate and test your
                                                ideas while networking with potential partners or investors.
                                                • Access to Mentors: These events also provide access to industry
                                                mentors who can guide your startup.
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                Finding Finances <br>
                                                • Diverse Funding Options: Explore multiple funding options such as
                                                venture capital, angel investors, crowdfunding, and bank loans. <br>
                                                • Pitch Competitions: Participate in pitch events to showcase your
                                                business and attract investors.
                                            </p>
                                        </li>

                                        <li>
                                            <p>
                                                Government Support for Startups<br>
                                                • Extensive Support: The German government provides substantial support
                                                for startups, including tax breaks, subsidies, and access to research
                                                funds.
                                                • Consultation Services: Free consultations and startup advisory
                                                services are available for new entrepreneurs.
                                            </p>
                                        </li>

                                        <li>
                                            <p>
                                                Types of Companies in Germany:<br>
                                                • GmbH and UG: The most common company types in Germany are GmbH
                                                (Limited Liability Company) and UG (Entrepreneurial Company), with the
                                                main difference being the capital requirement. <br>
                                                • Legal Protection: GmbH offers more legal protection but requires a
                                                higher initial investment compared to UG.
                                            </p>
                                        </li>

                                        <li>
                                            <p>
                                                Requirements for Visa & Documentation:<br>
                                                • Visa Requirements: For non-EU entrepreneurs, securing a visa requires
                                                a strong reason to establish the business in Germany.
                                                • Documentation: Make sure all required documents, such as passports,
                                                bank statements, and proof of business viability, are prepared.
                                            </p>
                                        </li>

                                        <li>
                                            <p>
                                                Registration Process of GmbH / UG:<br>
                                                • Step-by-Step Process: The registration involves preparing legal
                                                documents (e.g., Articles of Association), registering with the Chamber
                                                of Commerce, and notary services.
                                                • Cost Implication: Setting up a GmbH typically costs around €25,000 in
                                                initial capital (can be started even after depositing €12500), while a
                                                UG requires significantly less.
                                            </p>
                                        </li>


                                        <li>
                                            <p>
                                                Things to Consider for eCommerce:<br>
                                                • Legal Compliance: Ensure compliance with local eCommerce laws,
                                                including data privacy, terms of service, and consumer rights.
                                                • Platform Selection: Choose appropriate platforms like Etsy, Amazon,
                                                eBay, or Otto depending on your product and target audience.
                                            </p>
                                        </li>


                                        <li>
                                            <p>
                                                Trademark Registration & Securing Brand Values: <br>
                                                • Protecting Intellectual Property: Trademark registration is crucial to
                                                protect your brand and intellectual property from infringement.
                                                • Long-Term Investment: Although it can be expensive, securing a
                                                trademark adds long-term value and ensures brand identity protection in
                                                global markets.
                                            </p>
                                        </li>

                                    </ul>
                                </div><!-- /.event-details__text -->

                            </div><!-- /.event-details__content -->

                        </div><!-- /.col-lg-8 -->
                        <div class="col-lg-4">
                            <aside class="sidebar-event">
                                <div class="sidebar-event__contact contact-one sidebar-event__item wow fadeInUp"
                                    data-wow-duration="1500ms" data-wow-delay="00ms">
                                    <div class="contact-one__info">
                                        <div class="contact-one__info__item">
                                            <div class="contact-one__info__icon">
                                                <span class="icon-location"></span>
                                            </div><!-- /.contact-one__info__icon -->
                                            <div class="contact-one__info__content">
                                                <h4 class="contact-one__info__title"> Address</h4>
                                                <address class="contact-one__info__text">
                                                    Munich, Germany</address>
                                            </div><!-- /.contact-one__info__content -->
                                        </div><!-- /.contact-one__info__item -->
                                        <div class="contact-one__info__item">
                                            <div class="contact-one__info__icon">
                                                <span class="icon-phone"></span>
                                            </div><!-- /.contact-one__info__icon -->
                                            <div class="contact-one__info__content">
                                                <h4 class="contact-one__info__title">Social Media Contacts</h4>
                                                <a href="tel:(406)555-0120"
                                                    class="contact-one__info__text contact-one__info__text--link">
                                                    Via Facebook or Linkedin
                                                </a>
                                            </div><!-- /.contact-one__info__content -->
                                        </div><!-- /.contact-one__info__item -->
                                        <div class="contact-one__info__item">
                                            <div class="contact-one__info__icon">
                                                <span class="icon-envelope"></span>
                                            </div><!-- /.contact-one__info__icon -->
                                            <div class="contact-one__info__content">
                                                <h4 class="contact-one__info__title"> Email</h4>
                                                <a href="mailto:contact@nepaliroots.org"
                                                    class="contact-one__info__text contact-one__info__text--link">contact@nepaliroots.org</a>
                                            </div><!-- /.contact-one__info__content -->
                                        </div><!-- /.contact-one__info__item -->
                                    </div><!-- /.contact-one__info -->
                                    <div class="sidebar-event__contact__image">
                                        <img src="/assets/images/nepali-roots/events/contact-us.jpg" alt="events">
                                    </div><!-- /.sidebar-event__contact__image -->
                                </div><!-- /.sidebar-event__contact -->

                            </aside><!-- /.sidebar-event -->
                        </div><!-- /.col-lg-4 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </section><!-- /.event-details -->



            <%- include ("../partials/footer.ejs") %>

    </div><!-- /.page-wrapper -->

    <%- include ("../partials/mobile-menus.ejs") %>


        <%- include ("../partials/scroll-to-top.ejs") %>
            <%- include ("../partials/sidebar-right-overlay.ejs") %>

                <%- include ("../partials/footer-scripts.ejs") %>
</body>

</html>