<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/header-scripts.ejs") %>
</head>

<body class="custom-cursor">

    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>


    <div class="preloader">
        <!-- <div class="preloader__image" style="background-image: url(/assets/images/loader.png);"></div> -->

        <div class="preloader__image" style="background-image: url(/assets/images/nepali-roots/logos/logo-red.png);">
        </div>
    </div>

    <!-- /.preloader -->
    <div class="page-wrapper">

        <%- include ("../partials/header-menus.ejs") %>


            <section class="page-header @@extraClassName">
                <div class="page-header__bg"
                    style="background-image: url('/assets/images/nepali-roots/banners/subpage-banner-2.png');"></div>
                <!-- /.page-header__bg -->
                <div class="container">
                    <h2 class="page-header__title">Blog Posts</h2>
                    <ul class="cleenhearts-breadcrumb list-unstyled">
                        <li><i class="icon-home"></i> <a href="/">Home</a></li>
                        <li><span>Blog Posts</span></li>
                    </ul><!-- /.thm-breadcrumb list-unstyled -->
                </div><!-- /.container -->
            </section><!-- /.page-header -->


            <section class="event-details section-space">
                <div class="container">
                    <div class="row gutter-y-60">
                        <div class="col-lg-8">
                            <div class="event-details__content">
                                <div class="event-details__image wow fadeInUp" data-wow-duration="1500ms"
                                    data-wow-delay="00ms">
                                    <img src="/assets/images/nepali-roots/events/sdg-info-event1.jpg"
                                        alt="event-details">
                                    <!-- <div class="event-details__hall">
                                        <span>Hall no:</span>
                                        <span>69</span>
                                    </div> -->
                                    <!-- /.event-details__hall -->
                                    <div class="event-details__date">
                                        <span>30</span>
                                        <span>NOV</span>
                                    </div><!-- /.event-details__date -->
                                </div><!-- /.event-details__image -->
                                <div class="event-details__time">
                                    <i class="event-details__time__icon fa fa-video"></i>
                                    <a class="event-details__time__text" href="https://youtu.be/d_WbW5WPmc0" target="_blank">Watch On YouTube</a>


                                   
                                </div><!-- /.event-details__time -->
                                <h3 class="event-details__title">
                                    Top 10 key take aways from 'How to create Impactful and Sustainable Development Projects in Nepal?' webinar.
                                </h3><!-- /.event-details__title -->
                                <div class="event-details__text">
                                    <p class="event-details__text__inner">
                                        10 Key takeaways from the webinar with Saurav Koirala, Dr. Pushpa R Joshi and Shiva Adhikari on
                                         'How to create Impactful and Sustainable Development Projects in Nepal?' organized by Nepali Roots on 30.11.2024.

                                    </p>
                                    <br>

                                    <ol class="event-details__inner__list">
                                        <li>
                                            <p>
                                                The Importance and Urgency of the SDGs: <br>
                                                The United Nations Sustainable Development Goals (SDGs), adopted in 2015, provide a comprehensive 
                                                framework to address critical global challenges such as poverty, inequality, and climate change. These 17 interconnected goals aim to create a more sustainable, equitable, and prosperous world by 2030. Progress in one area often accelerates advancements in others, highlighting their interdependence. However, with the 2030 deadline approaching, 
                                                the intensifying nature of these challenges demands urgent and collective action.

                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                Collaborative Action is Key: <br>
                                                Achieving the SDGs necessitates the combined efforts of governments, businesses, civil society, and individuals. Collaboration across sectors is essential to innovate, develop sustainable solutions, and drive meaningful change at both local and global levels. Stakeholders must pool resources, 
                                                expertise, and influence to overcome barriers and ensure no one is left behind.

                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                The "5 Ps" of the SDGs: <br>
                                                The SDGs are built around the "5 Ps" of Agenda 2030:<br>
                                                - People: Ending poverty and hunger while ensuring dignity and equality.<br>
                                                - Planet: Protecting natural resources and combating climate change.<br>
                                                - Prosperity: Ensuring all individuals enjoy prosperous and fulfilling lives.<br>
                                                - Peace: Promoting peaceful, inclusive societies.<br>
                                                - Partnerships: Strengthening global solidarity to achieve the goals.<br>
                                                
                                                These principles form the foundation of a plan to build a fairer and more sustainable future for future generations.

                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                A Call to Action for Sustainable Development: <br>
                                                The SDGs emphasize eradicating poverty and inequality, safeguarding the environment, and ensuring universal access to health, justice, and economic opportunities. Achieving these goals by 2030
                                                requires intensified global commitment, including localized strategies tailored to specific contexts.

                                            </p>
                                        </li>

                                        <li>
                                            <p>
                                                Nepal’s Alignment with the SDGs:<br>
                                                Nepal’s 15th Five-Year Plan (2019/20 to 2023/24) aligns closely with the SDGs and aims to graduate from Least Developed Country (LDC) status by 2026. This plan reflects the country’s dedication to 
                                                integrating sustainable development into its national policies.


                                            </p>
                                        </li>

                                        <li>
                                            <p>
                                                Progress in Poverty Reduction:<br>
                                                Nepal has made notable strides in reducing poverty, with rates falling from 25% in 2015 to 16.7% in 2023. Significant improvements in healthcare, education,
                                                gender equality, and infrastructure have contributed to this progress.

                                            </p>
                                        </li>

                                        <li>
                                            <p>
                                                Challenges in Healthcare:<br>
                                                Despite advancements, Nepal faces considerable challenges in achieving universal health coverage. High maternal and child mortality rates, along with limited healthcare access in remote regions, remain critical issues.
                                                 Addressing these gaps is essential to meet SDG3 (Good Health and Well-being).
                                            </p>
                                        </li>

                                        <li>
                                            <p>
                                                Initiatives Supporting SDG3 (Good health and well being):<br>
                                                Several initiatives are addressing healthcare disparities in Nepal, including: <br>

                                                - Nepalmed Foundation: Focused on health programs to enhance service quality and infrastructure in rural areas.<br>
                                                - GIZ-Funded Projects: Supporting hospitals and healthcare systems to expand access and improve resilience. Empowering local communities to advocate for better health and fostering partnerships with organizations and governments are pivotal strategies for building a robust healthcare system.
                                                

                                            </p>
                                        </li>


                                        <li>
                                            <p>
                                                Diaspora Collaboration Programs:<br>
                                                The German development agency GIZ offers programs enabling diaspora members to contribute to Nepal’s development: Diaspora Expert Program: Provides travel and daily
                                                allowances for experienced professionals volunteering in Nepal for 3 weeks to 3 months.

                                            </p>
                                        </li>


                                        <li>
                                            <p>
                                                Empowering Communities and Strengthening Partnerships: <br>
                                                Empowering local communities to take ownership of sustainable development goals is fundamental. Collaborative efforts, including public-private partnerships, grassroots advocacy, and global support, can help address systemic challenges. By working together, Nepal can overcome its development hurdles and build a 
                                                resilient healthcare system and sustainable future by 2030.
                                            </p>
                                        </li>

                                    </ol>
                                </div><!-- /.event-details__text -->

                            </div><!-- /.event-details__content -->

                        </div><!-- /.col-lg-8 -->
                        <div class="col-lg-4">
                            <aside class="sidebar-event">
                                <div class="sidebar-event__contact contact-one sidebar-event__item wow fadeInUp"
                                    data-wow-duration="1500ms" data-wow-delay="00ms">
                                    <div class="contact-one__info">
                                        <div class="contact-one__info__item">
                                            <div class="contact-one__info__icon">
                                                <span class="icon-location"></span>
                                            </div><!-- /.contact-one__info__icon -->
                                            <div class="contact-one__info__content">
                                                <h4 class="contact-one__info__title"> Address</h4>
                                                <address class="contact-one__info__text">
                                                    Munich, Germany</address>
                                            </div><!-- /.contact-one__info__content -->
                                        </div><!-- /.contact-one__info__item -->
                                        <div class="contact-one__info__item">
                                            <div class="contact-one__info__icon">
                                                <span class="icon-phone"></span>
                                            </div><!-- /.contact-one__info__icon -->
                                            <div class="contact-one__info__content">
                                                <h4 class="contact-one__info__title">Social Media Contacts</h4>
                                                <a href="https://www.facebook.com/groups/1302870024426255/"
                                                    target="_blank"
                                                    class="contact-one__info__text contact-one__info__text--link">
                                                    Via Facebook or Linkedin
                                                </a>
                                            </div><!-- /.contact-one__info__content -->
                                        </div><!-- /.contact-one__info__item -->
                                        <div class="contact-one__info__item">
                                            <div class="contact-one__info__icon">
                                                <span class="icon-envelope"></span>
                                            </div><!-- /.contact-one__info__icon -->
                                            <div class="contact-one__info__content">
                                                <h4 class="contact-one__info__title"> Email</h4>
                                                <a href="mailto:contact@nepaliroots.org"
                                                    class="contact-one__info__text contact-one__info__text--link">contact@nepaliroots.org</a>
                                            </div><!-- /.contact-one__info__content -->
                                        </div><!-- /.contact-one__info__item -->
                                    </div><!-- /.contact-one__info -->
                                    <div class="sidebar-event__contact__image">
                                        <img src="/assets/images/nepali-roots/events/contact-us.jpg" alt="events">
                                    </div><!-- /.sidebar-event__contact__image -->
                                </div><!-- /.sidebar-event__contact -->

                            </aside><!-- /.sidebar-event -->
                        </div><!-- /.col-lg-4 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </section><!-- /.event-details -->



            <%- include ("../partials/footer.ejs") %>

    </div><!-- /.page-wrapper -->

    <%- include ("../partials/mobile-menus.ejs") %>


        <%- include ("../partials/scroll-to-top.ejs") %>
            <%- include ("../partials/sidebar-right-overlay.ejs") %>

                <%- include ("../partials/footer-scripts.ejs") %>
</body>

</html>