<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/header-scripts.ejs") %>
</head>

<body class="custom-cursor">

    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>


    <div class="preloader">
        <!-- <div class="preloader__image" style="background-image: url(/assets/images/loader.png);"></div> -->

        <div class="preloader__image" style="background-image: url(/assets/images/nepali-roots/logos/logo-red.png);">
        </div>
    </div>

    <!-- /.preloader -->
    <div class="page-wrapper">

        <%- include ("../partials/header-menus.ejs") %>


            <section class="page-header @@extraClassName">
                <div class="page-header__bg"
                    style="background-image: url('/assets/images/nepali-roots/banners/subpage-banner-2.png');"></div>
                <!-- /.page-header__bg -->
                <div class="container">
                    <h2 class="page-header__title">Blog Posts</h2>
                    <ul class="cleenhearts-breadcrumb list-unstyled">
                        <li><i class="icon-home"></i> <a href="/">Home</a></li>
                        <li><span>Blog Posts</span></li>
                    </ul><!-- /.thm-breadcrumb list-unstyled -->
                </div><!-- /.container -->
            </section><!-- /.page-header -->


            <section class="event-details section-space">
                <div class="container">
                    <div class="row gutter-y-60">
                        <div class="col-lg-8">
                            <div class="event-details__content">
                                <div class="event-details__image wow fadeInUp" data-wow-duration="1500ms"
                                    data-wow-delay="00ms">
                                    <img src="/assets/images/nepali-roots/events/blog-2-sustaining-non-profits.png"
                                        alt="event-details">
                                    <!-- <div class="event-details__hall">
                                        <span>Hall no:</span>
                                        <span>69</span>
                                    </div> -->
                                    <!-- /.event-details__hall -->
                                    <div class="event-details__date">
                                        <span>18</span>
                                        <span>OCT</span>
                                    </div><!-- /.event-details__date -->
                                </div><!-- /.event-details__image -->
                                <div class="event-details__time">
                                    <i class="event-details__time__icon fa fa-clock"></i>
                                    <span class="event-details__time__text">19:00 - 20.00</span>
                                </div><!-- /.event-details__time -->
                                <h3 class="event-details__title">
                                    Top 10 key take aways from 'Sustaining Non-profit organizations in Germany: Insights
                                    and best practices' webinar.
                                </h3><!-- /.event-details__title -->
                                <div class="event-details__text">
                                    <p class="event-details__text__inner">
                                        10 Key Takeaways from the Webinar with Mr. Shiva Adhikari on Sustaining
                                        Non-Profit Organizations in Germany organized by Nepali Roots on 18.10.2024.

                                    </p>
                                    <br>

                                    <ol class="event-details__inner__list">
                                        <li>
                                            <p>
                                                Advice for Aspiring Non-Profit Founders: <br>
                                                Young people looking to start non-profits in Germany should have clear
                                                visions and goals, and focus on long-term sustainability to avoid
                                                short-lived initiatives. For guidance on registering an e.V., visit:
                                                https://deutsches-ehrenamt.de/vereinsgruendung-vereinsarten/vereinsgruendung/
                                                (this is just an example website for step to step guide and it might be
                                                different for different regions and states)

                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                Challenge of Team Retention: <br>
                                                Maintaining motivation among team members is a major challenge. It's
                                                common for only a few dedicated individuals to remain active, while
                                                others may leave for various reasons.

                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                Task Allocation in Nepali Samaj e.V. Based on Expertise: <br>
                                                Within Nepali Samaj e.V., team members are assigned responsibilities
                                                according to their skills, such as handling cultural initiatives, IT
                                                management, and social media operations, ensuring efficient operations.

                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                Promoting Cultural Integration through Nepali Samaj e.V.: <br>
                                                Significant impact has been made by Nepali Samaj e.V. in promoting
                                                Nepali culture and traditions, not just within the Nepali community but
                                                also among local Germans, fostering greater understanding and inclusion.

                                            </p>
                                        </li>

                                        <li>
                                            <p>
                                                Successful Projects in Nepal by Nepali Samaj e.V.:<br>
                                                Besides cultural work in Germany, Nepali Samaj e.V. has executed
                                                impactful projects in Nepal, contributing to social and developmental
                                                causes in both countries.


                                            </p>
                                        </li>

                                        <li>
                                            <p>
                                                Inclusion of Local Germans:<br>
                                                Integrating local Germans and people frm other Nationalities into the
                                                mission is essential. Avoid creating isolated communities and instead
                                                focus on familiarizing locals with the organization’s cultural goals and
                                                activities.

                                            </p>
                                        </li>

                                        <li>
                                            <p>
                                                Importance of Collaboration:<br>
                                                Collaborating with other organizations and stakeholders in the German
                                                non-profit sector is crucial for expanding outreach and ensuring
                                                sustained impact.
                                            </p>
                                        </li>

                                        <li>
                                            <p>
                                                Financial Transparency through Auditing:<br>
                                                Financial transparency is ensured by conducting regular audits, although
                                                the organization (as an e.V.) is only required to share financial
                                                details with its members.

                                            </p>
                                        </li>


                                        <li>
                                            <p>
                                                Financial Sustainability for e.V.s:<br>
                                                Continuously working towards organizational goals builds support for
                                                projects. Useful resources for funding and support include: <br>
                                                https://www.stifter-helfen.de/ <br>
                                                https://www.bamf.de/ <br>
                                                https://www.bmz.de/en

                                            </p>
                                        </li>


                                        <li>
                                            <p>
                                                Future Aspirations and Involvement: <br>
                                                Future goals include strengthening ties between Nepali Samaj e.V. and
                                                other similar organizations (e.V.s) in Germany by creating an umbrella
                                                structure to unify efforts. This will enhance collaboration, resource
                                                sharing, and a collective impact on both the German and Nepali
                                                communities. Encouraging individuals and organizations in Germany to
                                                actively support and engage with this mission will further expand the
                                                scope of the work.
                                            </p>
                                        </li>

                                    </ol>
                                </div><!-- /.event-details__text -->

                            </div><!-- /.event-details__content -->

                        </div><!-- /.col-lg-8 -->
                        <div class="col-lg-4">
                            <aside class="sidebar-event">
                                <div class="sidebar-event__contact contact-one sidebar-event__item wow fadeInUp"
                                    data-wow-duration="1500ms" data-wow-delay="00ms">
                                    <div class="contact-one__info">
                                        <div class="contact-one__info__item">
                                            <div class="contact-one__info__icon">
                                                <span class="icon-location"></span>
                                            </div><!-- /.contact-one__info__icon -->
                                            <div class="contact-one__info__content">
                                                <h4 class="contact-one__info__title"> Address</h4>
                                                <address class="contact-one__info__text">
                                                    Munich, Germany</address>
                                            </div><!-- /.contact-one__info__content -->
                                        </div><!-- /.contact-one__info__item -->
                                        <div class="contact-one__info__item">
                                            <div class="contact-one__info__icon">
                                                <span class="icon-phone"></span>
                                            </div><!-- /.contact-one__info__icon -->
                                            <div class="contact-one__info__content">
                                                <h4 class="contact-one__info__title">Social Media Contacts</h4>
                                                <a href="https://www.facebook.com/groups/1302870024426255/"
                                                    target="_blank"
                                                    class="contact-one__info__text contact-one__info__text--link">
                                                    Via Facebook or Linkedin
                                                </a>
                                            </div><!-- /.contact-one__info__content -->
                                        </div><!-- /.contact-one__info__item -->
                                        <div class="contact-one__info__item">
                                            <div class="contact-one__info__icon">
                                                <span class="icon-envelope"></span>
                                            </div><!-- /.contact-one__info__icon -->
                                            <div class="contact-one__info__content">
                                                <h4 class="contact-one__info__title"> Email</h4>
                                                <a href="mailto:contact@nepaliroots.org"
                                                    class="contact-one__info__text contact-one__info__text--link">contact@nepaliroots.org</a>
                                            </div><!-- /.contact-one__info__content -->
                                        </div><!-- /.contact-one__info__item -->
                                    </div><!-- /.contact-one__info -->
                                    <div class="sidebar-event__contact__image">
                                        <img src="/assets/images/nepali-roots/events/contact-us.jpg" alt="events">
                                    </div><!-- /.sidebar-event__contact__image -->
                                </div><!-- /.sidebar-event__contact -->

                            </aside><!-- /.sidebar-event -->
                        </div><!-- /.col-lg-4 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </section><!-- /.event-details -->



            <%- include ("../partials/footer.ejs") %>

    </div><!-- /.page-wrapper -->

    <%- include ("../partials/mobile-menus.ejs") %>


        <%- include ("../partials/scroll-to-top.ejs") %>
            <%- include ("../partials/sidebar-right-overlay.ejs") %>

                <%- include ("../partials/footer-scripts.ejs") %>
</body>

</html>