<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/header-scripts.ejs") %>
</head>

<body class="custom-cursor">

    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>


    <div class="preloader">
        <!-- <div class="preloader__image" style="background-image: url(/assets/images/loader.png);"></div> -->

        <div class="preloader__image" style="background-image: url(/assets/images/nepali-roots/logos/logo-red.png);">
        </div>
    </div>

    <!-- /.preloader -->
    <div class="page-wrapper">

        <%- include ("../partials/header-menus.ejs") %>


            <section class="page-header @@extraClassName">
                <div class="page-header__bg"
                    style="background-image: url('/assets/images/nepali-roots/banners/subpage-banner-2.png');"></div>
                <!-- /.page-header__bg -->
                <div class="container">
                    <h2 class="page-header__title">Nepali Roots Summit</h2>
                    <ul class="cleenhearts-breadcrumb list-unstyled">
                        <li><i class="icon-home"></i> <a href="/">Home</a></li>
                        <li><span>Nepali Professionals Summit 2025</span></li>
                    </ul><!-- /.thm-breadcrumb list-unstyled -->
                </div><!-- /.container -->
            </section><!-- /.page-header -->


            <section class="testimonials-two section-space">
                <div class="container">
                    <div class="testimonials-two__top">
                        <div class="row gutter-y-30 align-items-top">
                          
                            <div class="col-lg-12">
                                <div class="volunteer-details__info">
                                    <div class="volunteer-details__info__top">
                                        <div class="volunteer-details__info__left">
                                            <h3 class="volunteer-details__name">Nepali Roots Summit</h3><!-- /.volunteer-details__name -->
                                            <p class="volunteer-details__designation">
                                                Where ideas meet action, and community meets opportunity!
                                            </p><!-- /.volunteer-details__designation -->
                                        </div><!-- /.volunteer-details__info__left -->
                    
                                    </div><!-- /.volunteer-details__info__top -->
                                    <p class="volunteer-details__text">
                                        
                                        The Nepali Roots Summit is an annual gathering of Nepali professionals in Germany, 
                                        primarily hosted in Munich. Our goal is to create a strong, supportive network where knowledge,
                                         experiences, and opportunities are shared to empower the Nepali diaspora. Through inspiring 
                                         talks, panel discussions, and interactive sessions, we aim to foster collaboration, career
                                        growth, and community resilience.

                                    </p><!-- /.volunteer-details__text -->

                                    <p class="volunteer-details__text">
                                        
                                        This one-day summit will feature distinguished Nepali professionals from diverse fields, 
                                        each sharing their expertise in short presentations followed by engaging discussions. 
                                        Alongside thought-provoking sessions, the event will include professional networking 
                                        opportunities, workshops and ideas sharing  to connect like-minded individuals. 


                                        The summit offers valuable insights, professional connections, and a platform to celebrate
                                         Nepali talent in Germany. We aim to build a useful & impactful Nepali professional
                                        community, where <b> ideas meet action, and community meets opportunity! </b>
                                    </p>
                                     <p class="volunteer-details__text">
                                        Join us for a unique opportunity to explore how climate change is <b> reshaping major industries </b> , including <b> AI, 
                                        Healthcare, Finance, Insurance, Transportation, Technology, Tourism, Hospitality, Energy, and Real Estate and what this means
                                        for your career, business, or startup.</b> 
                                        <br>
                                        We’ll explore how Nepali communities abroad can actively <b> contribute to impactful climate solutions in Nepal. </b> 
                                        <br>
                                       <p>
                                        <b>
                                            Together, let's shape a vibrant and impactful future for Nepali professionals in Germany.
                                        </b>
                                        
                                     </p>
                                    <p class="volunteer-details__text">
                                        <i>
                                            Note: Diaspora refers to communities of people living outside their country of origin while maintaining cultural ties.
                                        </i>
                                    </p>

                                    <p class="volunteer-details__text">
                                        <i>
                                            Note: Please note that this is a paid event with a fee of 15 EUR (excluding speakers), intended solely to cover the cost of food.
                                        </i>
                                    </p>
                                        
                                    </p><!-- /.volunteer-details__text -->

                                    <div class="volunteer-details__progress">
                                        <div class="progress-box">
        
                                            <h4 class="progress-box__title">Knowledge Sharing</h4><!-- /.progress-box__title -->
        
                                            <div class="progress-box__bar">
                                                <div class="progress-box__bar__inner count-bar counted" data-percent="100%" style="width: 100%;">
                                                    <div class="progress-box__number count-text">100%</div>
                                                </div>
                                            </div><!-- /.progress-box__bar -->
                                        </div><!-- /.progress-box -->
                                        <div class="progress-box">
        
                                            <h4 class="progress-box__title">Professional Networking</h4><!-- /.progress-box__title -->
        
                                            <div class="progress-box__bar">
                                                <div class="progress-box__bar__inner count-bar counted" data-percent="80%" style="width: 50%;">
                                                    <div class="progress-box__number count-text">80%</div>
                                                </div>
                                            </div><!-- /.progress-box__bar -->
                                        </div><!-- /.progress-box -->
                                        <div class="progress-box">
        
                                            <h4 class="progress-box__title">Interactive Sessions</h4><!-- /.progress-box__title -->
        
                                            <div class="progress-box__bar">
                                                <div class="progress-box__bar__inner count-bar counted" data-percent="90%" style="width: 80%;">
                                                    <div class="progress-box__number count-text">90%</div>
                                                </div>
                                            </div><!-- /.progress-box__bar -->
                                        </div><!-- /.progress-box -->

                                    </div><!-- /.volunteer-details__progress -->
        
                                </div><!-- /.volunteer__info -->
                            </div>
                           
                           
                            <div class="col-lg-12">
                                <div class="volunteer-details__info">
                                    <div class="volunteer-details__info__top">
                                        <div class="volunteer-details__info__left">
                                            <h3 class="volunteer-details__name">
                                                Agenda: 9th August 2025 (Saturday), 13:45 to 21:00
                                            </h3><!-- /.volunteer-details__name -->
                                            <p class="volunteer-details__designation">
                                                Climate Dialogues Across Borders
                                                </p><!-- /.volunteer-details__designation -->
                                        </div><!-- /.volunteer-details__info__left -->
                    
                                    </div><!-- /.volunteer-details__info__top -->
                                    <p class="volunteer-details__text">
                                        Nepal & the Climate Clock - Impact of Climate Change on key industries and
                                         the Diaspora’s role in tackling Climate risks
                                        
                                    </p><!-- /.volunteer-details__text -->
                                    <div class="table-responsive">
                                        <table class="table cart-page__table1">
                                            <thead>
                                                <tr>
                                                    <th>Time</th>
                                                    <th>Agenda</th>
                                                    <th>Duration</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr>
                                                    <td>
                                                        <div class="cart-page__table__meta">
                                                       
                                                            <h3 class="cart-page__table__meta__title">13:45 - 14:15
                                                            </h3>
                                                        </div>
                                                    </td>
                                                    <td class="cart-page__table__total">Gate Opens, Registration & Networking</td>
                                                    
                                                    <td class="cart-page__table__total">30 min</td>
                                                </tr>
                                      
                                                <tr>
                                                    <td>
                                                        <div class="cart-page__table__meta">
                                                       
                                                            <h3 class="cart-page__table__meta__title">14:15 - 14:25
                                                            </h3>
                                                        </div>
                                                    </td>
                                                    <td class="cart-page__table__total">Opening Session (By Nepali Roots)</td>
                                                    
                                                    <td class="cart-page__table__total">10 min</td>
                                                </tr>                                               

                                                <tr>
                                                    <td>
                                                        <div class="cart-page__table__meta">
                                                       
                                                            <h3 class="cart-page__table__meta__title">14:25 - 14:40
                                                            </h3>
                                                        </div>
                                                    </td>
                                                    <td class="cart-page__table__total">Greetings from GIZ and the Special Guest</td>
                                                    
                                                    <td class="cart-page__table__total">15 min</td>
                                                </tr>    

                                                <tr>
                                                    <td>
                                                        <div class="cart-page__table__meta">
                                                       
                                                            <h3 class="cart-page__table__meta__title">14:40 - 15:00
                                                            </h3>
                                                        </div>
                                                    </td>
                                                    <td class="cart-page__table__total"> <b>Dr. Maheswar Rupakheti (Keynote speaker):</b>
                                                         Vice-Chair, IPCC WGI | Research Group Leader - RIFS 
                                                        | Climate & Atmospheric Scientist</td>
                                                    
                                                    <td class="cart-page__table__total">20 min</td>
                                                </tr> 

                                                <tr>
                                                    <td>
                                                        <div class="cart-page__table__meta">
                                                       
                                                            <h3 class="cart-page__table__meta__title">15:00 - 15:05
                                                            </h3>
                                                        </div>
                                                    </td>
                                                    <td class="cart-page__table__total">Break</td>
                                                    
                                                    <td class="cart-page__table__total">5 min</td>
                                                </tr>    


                                                <tr>
                                                    <td>
                                                        <div class="cart-page__table__meta">
                                                       
                                                            <h3 class="cart-page__table__meta__title">
                                                                15:05 - 15:25
                                                            </h3>
                                                        </div>
                                                    </td>
                                                    <td class="cart-page__table__total">Topic1 - <b> Dr. Yagya Adhikari </b> | Environmental Specialist | Natural Resource conservation</td>
                                                    
                                                    <td class="cart-page__table__total">20 min</td>
                                                </tr>    

                                                <tr>
                                                    <td>
                                                        <div class="cart-page__table__meta">
                                                       
                                                            <h3 class="cart-page__table__meta__title">
                                                                15:25 – 15:45
                                                            </h3>
                                                        </div>
                                                    </td>
                                                    <td class="cart-page__table__total">
                                                       Topic2 - <b> Dr. Ing. Sarad Bahadur Thapa </b>| Head of GaN Technology | Scientific Researcher
                                                    </td>
                                                    
                                                    <td class="cart-page__table__total">20 min</td>
                                                </tr>    

                                                <tr>
                                                    <td>
                                                        <div class="cart-page__table__meta">
                                                       
                                                            <h3 class="cart-page__table__meta__title">
                                                                15:45 - 16:05
                                                            </h3>
                                                        </div>
                                                    </td>
                                                    <td class="cart-page__table__total">Interactive Spark Session</td>
                                                    
                                                    <td class="cart-page__table__total">20 min</td>
                                                </tr> 
                                                 
                                                <tr>
                                                    <td>
                                                        <div class="cart-page__table__meta">
                                                       
                                                            <h3 class="cart-page__table__meta__title">
                                                                16:05 – 16:45
                                                            </h3>
                                                        </div>
                                                    </td>
                                                    <td class="cart-page__table__total"> Panel discussion 1</td>
                                                    
                                                    <td class="cart-page__table__total">40 min</td>
                                                </tr> 

                                                <tr>
                                                    <td>
                                                        <div class="cart-page__table__meta">
                                                       
                                                            <h3 class="cart-page__table__meta__title">
                                                                16:45 – 16:55
                                                            </h3>
                                                        </div>
                                                    </td>
                                                    <td class="cart-page__table__total">Break: Refreshments: tea/cofee/snacks</td>
                                                    
                                                    <td class="cart-page__table__total">10 min</td>
                                                </tr> 

                                                <tr>
                                                    <td>
                                                        <div class="cart-page__table__meta">
                                                       
                                                            <h3 class="cart-page__table__meta__title">
                                                                16:55 – 17:15
                                                            </h3>
                                                        </div>
                                                    </td>
                                                    <td class="cart-page__table__total">
                                                        Topic 3: <b>Ranjana Budhathoki</b> | Senior Associate, ESG Research Analyst
                                                    </td>
                                                    
                                                    <td class="cart-page__table__total">20 min</td>
                                                </tr> 

                                                <tr>
                                                    <td>
                                                        <div class="cart-page__table__meta">
                                                       
                                                            <h3 class="cart-page__table__meta__title">
                                                                17:15 - 17:35
                                                            </h3>
                                                        </div>
                                                    </td>
                                                    <td class="cart-page__table__total">
                                                        Energy deprivation and Climate change impacts: <b>Sudarshan Kunwar </b>| ESRC Doctoral Researcher- Energy and Capabilities, Chevening Scholar 2018/19
                                                    </td>
                                                    
                                                    <td class="cart-page__table__total">20 min</td>
                                                </tr> 

                                                <tr>
                                                    <td>
                                                        <div class="cart-page__table__meta">
                                                       
                                                            <h3 class="cart-page__table__meta__title">
                                                                17:35 – 17:45
                                                            </h3>
                                                        </div>
                                                    </td>
                                                    <td class="cart-page__table__total">Break</td>
                                                    
                                                    <td class="cart-page__table__total">10 min</td>
                                                </tr> 

                                                <tr>
                                                    <td>
                                                        <div class="cart-page__table__meta">
                                                       
                                                            <h3 class="cart-page__table__meta__title">
                                                                17:45 – 18:35
                                                            </h3>
                                                        </div>
                                                    </td>
                                                    <td class="cart-page__table__total">
                                                        Diaspora Climate Action Lab  (Interactive Workshop): 5 groups × 5-6 people in each group,
                                                        Engaging around 25 participants (including speakers and audience) in hands-on group discussions 
                                                        and solution-building activities.

                                                    </td>
                                                    
                                                    <td class="cart-page__table__total">50 min</td>
                                                </tr> 

                                                <tr>
                                                    <td>
                                                        <div class="cart-page__table__meta">
                                                       
                                                            <h3 class="cart-page__table__meta__title">
                                                                18:35 - 19:15
                                                            </h3>
                                                        </div>
                                                    </td>
                                                    <td class="cart-page__table__total">Panel Discussion 2</td>
                                                    
                                                    <td class="cart-page__table__total">40 min</td>
                                                </tr> 

                                                <tr>
                                                    <td>
                                                        <div class="cart-page__table__meta">
                                                       
                                                            <h3 class="cart-page__table__meta__title">
                                                                19:15 – 19:30
                                                            </h3>
                                                        </div>
                                                    </td>
                                                    <td class="cart-page__table__total">Closing remarks</td>
                                                    
                                                    <td class="cart-page__table__total">15 min</td>
                                                </tr> 

                                                <tr>
                                                    <td>
                                                        <div class="cart-page__table__meta">
                                                       
                                                            <h3 class="cart-page__table__meta__title">
                                                                19:30–21:00
                                                            </h3>
                                                        </div>
                                                    </td>
                                                    <td class="cart-page__table__total">Dinner & Networking</td>
                                                    
                                                    <td class="cart-page__table__total">90 min</td>
                                                </tr> 

                                            </tbody>
                                        </table>
                                    </div>
                                      
                                      
                                      


                                </div><!-- /.volunteer__info -->
                            </div>
                        
                        </div><!-- /.row gutter-y-40 -->
                    </div><!-- /.testimonials-two__top -->
                  
                </div>
            </section>

            <section class="event-details section-space-1">
                
                <div class="container">
                    <div class="row gutter-y-60">
                        <div class="col-lg-8">
                            <div class="event-details__content">
                             
                                <h3 class="event-details__title">
                                   Nepal & the Climate Clock - Impact of Climate Change on key 
                                   industries and the Diaspora’s role in tackling Climate risks
                                </h3><!-- /.event-details__title -->
                                <div class="event-details__text">
                                    <p class="event-details__text__inner">
                                        📍 Physical Conference for Nepalese Professionals in Munich, Germany 
                                    </p>
                                    <p class="event-details__text__inner">
                                        📍 Happening In Munich, Germany
                                    </p>
                                    <p class="event-details__text__inner">
                                        🌱 Turning Climate Challenges into Actionable Solutions
                                    </p>
                                      
                                    <p class="event-details__text__inner">
                                        Nepal faces some of the most severe climate risks—from floods, landslides, air pollution to unpredictable monsoons—directly impacting families back home. 
                                        But as an international Nepalese diaspora, we have the power to drive change.
                                        This conference will bridge German expertise with Nepal’s green transition, focusing on <b>real-world solutions </b>  — not just discussions.
                                        We invite <b> Speakers, Professionals, Researchers & Academics, Community Leaders and Entrepreneurs </b> to share insights,
                                        innovations, and actionable strategies.
                                    </p>


                                </div><!-- /.event-details__text -->

                            </div><!-- /.event-details__content -->
    
                            <div class="event-details__contact contact-information">
                                <a href="https://www.eventbrite.de/e/nepali-roots-summit-2025-tickets-1387920771389?aff=oddtdtcreator" target="_blank"  class="contact-information__btn cleenhearts-btn">
                                    <div class="cleenhearts-btn__icon-box">
                                        <div class="cleenhearts-btn__icon-box__inner"><span class="icon-duble-arrow"></span></div>
                                    </div>
                                    <span class="cleenhearts-btn__text">Register Now</span>
                                </a><!-- /.contact-information__btn -->
                                <div class="contact-information__phone">
                                    <div class="contact-information__phone__icon">
                                        <span class="icon-phone"></span>
                                    </div><!-- /.contact-information__phone__icon -->
                                    <div class="contact-information__phone__text">
                                        <span>Any questions?</span>
                                        <h5><a href="tel:+49 1590 4739644">+49 1590 4739644 </a></h5>
                                    </div><!-- /.contact-information__phone__text -->
                                </div><!-- /.event-details__contact contact-information__phone -->
                            </div><!-- /.contact-information -->
    
                            <div class="donation-details__donors-jk">
                                <h3 class="donation-details__donors__title">Our Speakers</h3><!-- /.donation-details__donors__title -->
                                <div class="row gutter-y-40">
                                    <div class="col-xl-3 col-sm-6 wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                        <div class="donation-details__donors__single">
                                            <div class="donation-details__donors__image">
                                                <img src="/assets/images/nepali-roots/summit/speakers/yagya-adhikari.jpeg" alt="speaker 1">
                                            </div><!-- /.donation-details__donors__image -->
                                            <div class="donation-details__donors__content">
                                                <h3 class="donation-details__donors__name">
                                                    <a href="https://www.linkedin.com/in/dr-yagya-adhikari-54696124/" target="_blank">
                                                    Dr. Yagya Adhikari

                                                </a></h3><!-- /.donation-details__donors__name -->
                                            </div><!-- /.donation-details__donors__content -->
                                        </div><!-- /.donation-details__donors__single -->
                                    </div><!-- /.col-xl-3 col-sm-6 -->
                                    <div class="col-xl-3 col-sm-6 wow fadeInUp animated" data-wow-delay="200ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 200ms; animation-name: fadeInUp;">
                                        <div class="donation-details__donors__single">
                                            <div class="donation-details__donors__image">
                                                <img src="/assets/images/nepali-roots/summit/speakers/ranjana-budhathoki.jpeg" alt="speaker 2">
                                            </div><!-- /.donation-details__donors__image -->
                                            <div class="donation-details__donors__content">
                                                <h3 class="donation-details__donors__name">
                                                    <a href="https://www.linkedin.com/in/ranjana-budhathoki-5b551327/" target="_blank">
                                                    Ranjana Budhathoki
                                                </a></h3><!-- /.donation-details__donors__name -->
                                            </div><!-- /.donation-details__donors__content -->
                                        </div><!-- /.donation-details__donors__single -->
                                    </div><!-- /.col-xl-3 col-sm-6 -->
                                    <div class="col-xl-3 col-sm-6 wow fadeInUp animated" data-wow-delay="400ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 400ms; animation-name: fadeInUp;">
                                        <div class="donation-details__donors__single">
                                            <div class="donation-details__donors__image">
                                                <img src="/assets/images/donations/donor-d-1.png" alt="donor details">
                                            </div><!-- /.donation-details__donors__image -->
                                            <div class="donation-details__donors__content">
                                                <h3 class="donation-details__donors__name"><a href="volunteer-details.html">Speaker 3</a></h3><!-- /.donation-details__donors__name -->
                                            </div><!-- /.donation-details__donors__content -->
                                        </div><!-- /.donation-details__donors__single -->
                                    </div><!-- /.col-xl-3 col-sm-6 -->
                                    <div class="col-xl-3 col-sm-6 wow fadeInUp animated" data-wow-delay="600ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 600ms; animation-name: fadeInUp;">
                                        <div class="donation-details__donors__single">
                                            <div class="donation-details__donors__image">
                                                <img src="/assets/images/donations/donor-d-1.png" alt="donor details">
                                            </div><!-- /.donation-details__donors__image -->
                                            <div class="donation-details__donors__content">
                                                <h3 class="donation-details__donors__name"><a href="donation-details-right.html">Speaker 4</a></h3><!-- /.donation-details__donors__name -->
                                            </div><!-- /.donation-details__donors__content -->
                                        </div><!-- /.donation-details__donors__single -->
                                    </div><!-- /.col-xl-3 col-sm-6 -->
                                </div><!-- /.row -->
                            </div>                           
                            <br><br>
                            <div class="event-details__speaker">
                                <h3 class="event-details__speaker__title event-details__title">Speaker Details</h3><!-- /.event-details__speaker__title -->
                                
                                <div class="event-details__speaker__info wow fadeInUp animated" data-wow-duration="1500ms" data-wow-delay="00ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="event-details__speaker__image">
                                        <img src="/assets/images/nepali-roots/summit/speakers/maheshwor-rupakheti.jpeg" alt="Maheswar Rupakheti">
                                    </div><!-- /.event-details__speaker__image -->
                                    <div class="event-details__speaker__content">
                                        <div class="event-details__speaker__content__inner">
                                            <div class="event-details__speaker__indentity">
                                                <h4 class="event-details__speaker__name">
                                                    Dr. Maheswar Rupakheti 
                                                </h4><!-- /.event-details__speaker__name -->
                                                <p class="event-details__speaker__designation">
                                                    Vice-Chair, IPCC WGI | Research Group Leader - RIFS | Climate & Atmospheric Scientist
                                                </p><!-- /.event-details__speaker__designation -->
                                            </div><!-- /.event-details__speaker__indentity -->
                                            <div class="event-details__speaker__social social-link">

                                                <a href="https://www.linkedin.com/in/maheswar-rupakheti/" aria-hidden="true" target="_blank">
                                                    <i class="fab fa-linkedin-in"></i>
                                                    <span class="sr-only">Linkedin</span>
                                                </a>
                                               
                                            </div><!-- /.event-details__speaker__social social-link -->
                                        </div><!-- /.event-details__speaker__content__inner -->
                                        <div class="event-details__speaker__text">
                                            <p>
                                        Dr. Maheswar Rupakheti is an atmospheric scientist with a strong focus on air quality, climate change, and the science-policy-society interface, particularly in the Himalayan region. He currently serves as Vice-Chair of Working Group I of the IPCC Bureau and leads the research group "Regional Air Quality and Climate in Southern Asia" at the 
                                        Research Institute for Sustainability (RIFS) in Germany.

                                        Dr. Maheswar is also a member of the Scientific Steering Committee of the International Commission on Atmospheric Chemistry and Global Pollution (ICACGP). 
                                        His work bridges scientific research and policy engagement, addressing critical environmental challenges in South Asia and beyond. He brings extensive experience in international collaboration and capacity-building, with a special interest in advancing sustainable solutions for the Himalayan region.        
                                            </p>
                                        </div><!-- /.event-details__speaker__text -->
                                    </div><!-- /.event-details__speaker__content -->
                                </div><!-- /.event-details__speaker__info -->
                                

                                <div class="event-details__speaker__info wow fadeInUp animated" data-wow-duration="1500ms" data-wow-delay="00ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="event-details__speaker__image">
                                        <img src="/assets/images/nepali-roots/summit/speakers/yagya-adhikari.jpeg" alt="Yagya Adhikari">
                                    </div><!-- /.event-details__speaker__image -->
                                    <div class="event-details__speaker__content">
                                        <div class="event-details__speaker__content__inner">
                                            <div class="event-details__speaker__indentity">
                                                <h4 class="event-details__speaker__name">
                                                    Dr. Yagya Adhikari
                                                </h4><!-- /.event-details__speaker__name -->
                                                <p class="event-details__speaker__designation">
                                                    Environmental Specialist | Natural Resource conservation
                                                </p><!-- /.event-details__speaker__designation -->
                                            </div><!-- /.event-details__speaker__indentity -->
                                            <div class="event-details__speaker__social social-link">

                                                <a href="https://www.linkedin.com/in/dr-yagya-adhikari-54696124/" aria-hidden="true" target="_blank">
                                                    <i class="fab fa-linkedin-in"></i>
                                                    <span class="sr-only">Linkedin</span>
                                                </a>
                                               
                                            </div><!-- /.event-details__speaker__social social-link -->
                                        </div><!-- /.event-details__speaker__content__inner -->
                                        <div class="event-details__speaker__text">
                                            <p>
                                                Dr. Yagya Adhikari is a dedicated environmental specialist currently serving at the Environmental Division of USAG Bavaria in Grafenwöhr, Germany. He has conducted environmental assessments and contributed to sustainability initiatives within the military community. Dr. Adhikari earned his PhD from Bournemouth University, where his research focused on the psychosocial impacts of parental migration on left-behind adolescents in Nepal. His work sheds light on the challenges faced by families affected by labor migration, emphasizing the need for supportive policies and interventions.
                                            </p>
                                        </div><!-- /.event-details__speaker__text -->
                                    </div><!-- /.event-details__speaker__content -->
                                </div><!-- /.event-details__speaker__info -->

                                <div class="event-details__speaker__info wow fadeInUp animated" data-wow-duration="1500ms" data-wow-delay="00ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="event-details__speaker__image">
                                        <img src="/assets/images/nepali-roots/summit/speakers/sarad-bahadur-thapa.jpeg" alt="Sarad Bahadur Thapa">
                                    </div><!-- /.event-details__speaker__image -->
                                    <div class="event-details__speaker__content">
                                        <div class="event-details__speaker__content__inner">
                                            <div class="event-details__speaker__indentity">
                                                <h4 class="event-details__speaker__name">
                                                    Dr. Ing. Sarad Bahadur Thapa
                                                </h4><!-- /.event-details__speaker__name -->
                                                <p class="event-details__speaker__designation">
                                                   Head of GaN Technology | Scientific Researcher
                                                </p><!-- /.event-details__speaker__designation -->
                                            </div><!-- /.event-details__speaker__indentity -->
                                            <div class="event-details__speaker__social social-link">

                                                <a href="https://www.linkedin.com/in/sarad-bahadur-t-27993413/" aria-hidden="true" target="_blank">
                                                    <i class="fab fa-linkedin-in"></i>
                                                    <span class="sr-only">Linkedin</span>
                                                </a>
                                               
                                            </div><!-- /.event-details__speaker__social social-link -->
                                        </div><!-- /.event-details__speaker__content__inner -->
                                        <div class="event-details__speaker__text">
                                            <p>
                                                 Dr. Ing. Sarad Bahadur Thapa is an expert in GaN (Gallium Nitride) technology with over 13 years of experience
                                                  spanning the semiconductor and energy sectors. He currently serves as Head of GaN Technology at Siltronic AG, 
                                                  where he leads cutting-edge R&D in next-generation semiconductor materials. His recent role at imec (until December 2024)
                                                 further deepened his expertise in advanced material science and device engineering.

                                            </p>
                                        </div><!-- /.event-details__speaker__text -->
                                    </div><!-- /.event-details__speaker__content -->
                                </div><!-- /.event-details__speaker__info -->                                



                                <div class="event-details__speaker__info wow fadeInUp animated" data-wow-duration="1500ms" data-wow-delay="100ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 100ms; animation-name: fadeInUp;">
                                    <div class="event-details__speaker__image">
                                        <img src="/assets/images/nepali-roots/summit/speakers/ranjana-budhathoki.jpeg" alt="Ranjana Budhathoki">
                                    </div><!-- /.event-details__speaker__image -->
                                    <div class="event-details__speaker__content">
                                        <div class="event-details__speaker__content__inner">
                                            <div class="event-details__speaker__indentity">
                                                <h4 class="event-details__speaker__name">
                                                    Ranjana Budhathoki
                                                </h4><!-- /.event-details__speaker__name -->
                                                <p class="event-details__speaker__designation">
                                                    Senior Associate, ESG Research Analyst

                                                </p><!-- /.event-details__speaker__designation -->
                                            </div><!-- /.event-details__speaker__indentity -->
                                            <div class="event-details__speaker__social social-link">
                                             
                                           
                                                <a href="https://www.linkedin.com/in/ranjana-budhathoki-5b551327/" aria-hidden="true" target="_blank">
                                                    <i class="fab fa-linkedin-in"></i>
                                                    <span class="sr-only">Linkedin</span>
                                                </a>
                                           
                                            </div><!-- /.event-details__speaker__social social-link -->
                                        </div><!-- /.event-details__speaker__content__inner -->
                                        <div class="event-details__speaker__text">
                                            <p>
                                                Ranjana Budhathoki is a seasoned ESG Research Analyst currently serving as a Senior Associate at ISS ESG in Munich, Germany. She specializes in environmental, social, and governance (ESG) research, contributing to sustainable investment strategies. Ranjana holds a degree from the Technical University of Munich and brings a strong academic foundation to her work in sustainability and responsible finance.
                                            </p>
                                        </div><!-- /.event-details__speaker__text -->
                                    </div><!-- /.event-details__speaker__content -->
                                </div><!-- /.event-details__speaker__info -->

                                 <div class="event-details__speaker__info wow fadeInUp animated" data-wow-duration="1500ms" data-wow-delay="100ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 100ms; animation-name: fadeInUp;">
                                    <div class="event-details__speaker__image">
                                        <img src="/assets/images/nepali-roots/summit/speakers/sudarshan-kunwar.jpeg" alt="Sudarshan Kunwar">
                                    </div><!-- /.event-details__speaker__image -->
                                    <div class="event-details__speaker__content">
                                        <div class="event-details__speaker__content__inner">
                                            <div class="event-details__speaker__indentity">
                                                <h4 class="event-details__speaker__name">
                                                   Sudarshan Kunwar
                                                </h4><!-- /.event-details__speaker__name -->
                                                <p class="event-details__speaker__designation">
                                                    ESRC Doctoral Researcher - Energy and Capabilities, Chevening Scholar 2018/19
                                                </p><!-- /.event-details__speaker__designation -->
                                            </div><!-- /.event-details__speaker__indentity -->
                                            <div class="event-details__speaker__social social-link">
                                             
                                           
                                                <a href="https://www.linkedin.com/in/sudarshan-kunwar-86b71859/" aria-hidden="true" target="_blank">
                                                    <i class="fab fa-linkedin-in"></i>
                                                    <span class="sr-only">Linkedin</span>
                                                </a>
                                           
                                            </div><!-- /.event-details__speaker__social social-link -->
                                        </div><!-- /.event-details__speaker__content__inner -->
                                        <div class="event-details__speaker__text">
                                            <p>
                                               Sudarshan Kunwar is a PhD researcher at the University of Birmingham, specializing in energy and capabilities. 
                                               With an academic foundation in Mechanical Engineering from Pulchowk Campus (2017), his research explores the intersection of energy systems, development, and social equity. Sudarshan brings practical experience from both public and private energy sectors in Nepal, with a strong focus on off-grid and decentralized energy solutions. His work is driven by a commitment to
                                                sustainable energy access and inclusive development, particularly in underserved communities.
                                            </p>
                                        </div><!-- /.event-details__speaker__text -->
                                    </div><!-- /.event-details__speaker__content -->
                                </div><!-- /.event-details__speaker__info -->                


                            </div><!-- /.event-details__speaker -->
                            <br>

                        </div><!-- /.col-lg-8 -->
                        <div class="col-lg-4">
                            <aside class="sidebar-event">
                                <div class="sidebar-event__contact contact-one sidebar-event__item wow fadeInUp animated" data-wow-duration="1500ms" data-wow-delay="00ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                    <div class="contact-one__info">
                                        <div class="contact-one__info__item">
                                            <div class="contact-one__info__icon">
                                                <span class="icon-location"></span>
                                            </div><!-- /.contact-one__info__icon -->
                                            <div class="contact-one__info__content">
                                                <h4 class="contact-one__info__title">Event Address</h4>
                                                <address class="contact-one__info__text">Schwanthalerstr. 80 RGB, 80336 München</address>
                                            </div><!-- /.contact-one__info__content -->
                                        </div><!-- /.contact-one__info__item -->
                                        <div class="contact-one__info__item">
                                            <div class="contact-one__info__icon">
                                                <span class="icon-phone"></span>
                                            </div><!-- /.contact-one__info__icon -->
                                            <div class="contact-one__info__content">
                                                <h4 class="contact-one__info__title">Quick Contact (Sandeep Bastola)</h4>
                                                <a href="tel:(406)555-0120" class="contact-one__info__text contact-one__info__text--link">
                                                  +49 1590 4739644
                                                </a>
                                            </div><!-- /.contact-one__info__content -->
                                        </div><!-- /.contact-one__info__item -->
                                        <div class="contact-one__info__item">
                                            <div class="contact-one__info__icon">
                                                <span class="icon-envelope"></span>
                                            </div><!-- /.contact-one__info__icon -->
                                            <div class="contact-one__info__content">
                                                <h4 class="contact-one__info__title">Support email</h4>
                                                <a href="mailto:contact@nepaliroots.org" class="contact-one__info__text contact-one__info__text--link">contact@nepaliroots.org</a>
                                            </div><!-- /.contact-one__info__content -->
                                        </div><!-- /.contact-one__info__item -->
                                    </div><!-- /.contact-one__info -->

                    <div class="about-one__wrapper">
                                <!-- /.row -->
                            <div class="contact-information">
                                <a href="https://www.eventbrite.de/e/nepali-roots-summit-2025-tickets-1387920771389?aff=oddtdtcreator" target="_blank"  class="contact-information__btn cleenhearts-btn">
                                    <div class="cleenhearts-btn__icon-box">
                                        <div class="cleenhearts-btn__icon-box__inner"><span class="icon-duble-arrow"></span></div>
                                    </div>
                                    <span class="cleenhearts-btn__text">Register Now</span>
                                </a><!-- /.contact-information__btn -->
                            
                            </div>
                    </div>


                                </div><!-- /.sidebar-event__contact -->
             
                            </aside><!-- /.sidebar-event -->
                        </div><!-- /.col-lg-4 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </section>




            <%- include ("../partials/footer.ejs") %>

    </div><!-- /.page-wrapper -->

    <%- include ("../partials/mobile-menus.ejs") %>


        <%- include ("../partials/scroll-to-top.ejs") %>
            <%- include ("../partials/sidebar-right-overlay.ejs") %>

                <%- include ("../partials/footer-scripts.ejs") %>
</body>

</html>
