<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/header-scripts.ejs") %>
</head>

<body class="custom-cursor">

    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>

    <div class="preloader">
        <!-- <div class="preloader__image" style="background-image: url(assets/images/loader.png);"></div> -->

        <div class="preloader__image" style="background-image: url(assets/images/nepali-roots/logos/logo-red.png);">
        </div>
    </div>
    <!-- /.preloader -->
    <div class="page-wrapper">
        <%- include ("../partials/header-menus.ejs") %>

            <%- include ("../partials/header-banners.ejs") %>

                <section class="about-three">
                    <section class="about-info about-info--home-three section-space">
                        <div class="container">
                            <div class="row gutter-y-30 justify-content-center">
                                <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="1500ms"
                                    data-wow-delay="00ms">
                                    <div class="about-info__item">
                                        <div class="about-info__icon">
                                            <span class="icon-teamwork"></span>
                                        </div><!-- /.about-info__icon -->
                                        <div class="about-info__content">
                                            <div class="about-info__counter count-box">
                                                <h3 class="about-info__counter__text count-text">
                                                </h3>
                                                <h3 class="about-info__counter__text ">Professional Networking Events
                                                </h3>
                                            </div><!-- /.about-info__counter -->
                                            <h5 class="about-info__title">Organize events to connect Nepali
                                                professionals
                                            </h5>
                                        </div><!-- /.about-info__content -->
                                    </div><!-- /.about-info__item -->
                                </div><!-- /.col-xl-3 col-lg-4 col-md-6 -->
                                <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="1500ms"
                                    data-wow-delay="200ms">
                                    <div class="about-info__item">
                                        <div class="about-info__icon">
                                            <span class="icon-teamwork"></span>
                                        </div><!-- /.about-info__icon -->
                                        <div class="about-info__content">
                                            <div class="about-info__counter count-box">
                                                <h3 class="about-info__counter__text count-text"></h3>
                                                <h3 class="about-info__counter__text "> Educational & Professional
                                                    Growth
                                                </h3>
                                            </div><!-- /.about-info__counter -->
                                            <h5 class="about-info__title">Knowledge & experience sharing programs</h5>
                                        </div><!-- /.about-info__content -->
                                    </div><!-- /.about-info__item -->
                                </div><!-- /.col-xl-3 col-lg-4 col-md-6 -->
                                <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="1500ms"
                                    data-wow-delay="400ms">
                                    <div class="about-info__item">
                                        <div class="about-info__icon">
                                            <span class="icon-team"></span>
                                        </div><!-- /.about-info__icon -->
                                        <div class="about-info__content">
                                            <div class="about-info__counter count-box">
                                                <h3 class="about-info__counter__text count-text"></h3>
                                                <h3 class="about-info__counter__text ">Workshops & Webinars
                                                </h3>
                                            </div><!-- /.about-info__counter -->
                                            <h5 class="about-info__title">Organize several events to help the community
                                            </h5>
                                        </div><!-- /.about-info__content -->
                                    </div><!-- /.about-info__item -->
                                </div><!-- /.col-xl-3 col-lg-4 col-md-6 -->
                                <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="1500ms"
                                    data-wow-delay="600ms">
                                    <div class="about-info__item">
                                        <div class="about-info__icon">
                                            <span class="icon-people"></span>
                                        </div><!-- /.about-info__icon -->
                                        <div class="about-info__content">
                                            <div class="about-info__counter count-box">
                                                <h3 class="about-info__counter__text count-text"></h3>
                                                <h3 class="about-info__counter__text ">Social collaboration
                                                </h3>
                                            </div><!-- /.about-info__counter -->
                                            <h5 class="about-info__title">Collaborate with Nepali educational
                                                institutions
                                                to
                                                uplift standards</h5>
                                        </div><!-- /.about-info__content -->
                                    </div><!-- /.about-info__item -->
                                </div><!-- /.col-xl-3 col-lg-4 col-md-6 -->
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </section><!-- /.about-info section-space -->

                    <div class="container">
                        <div class="row gutter-y-50">
                            <div class="col-lg-6">
                                <div class="about-three__image">
                                    <div class="about-three__image__inner wow fadeInLeft" data-wow-duration="1500ms"
                                        data-wow-delay="00ms">
                                        <!-- <img src="assets/images/about/about-3-1.jpg" alt="about"
                                    class="about-three__image__one">
                                <img src="assets/images/about/about-3-2.jpg" alt="about"
                                    class="about-three__image__two"> -->
                                        <img src="assets/images/nepali-roots/about/about3.jpg" alt="about"
                                            class="about-three__image__one">
                                        <img src="assets/images/nepali-roots/about/about4.png" alt="about"
                                            class="about-three__image__two">
                                        <div class="about-three__experience"
                                            style="background-image: url(assets/images/shapes/about-shape-3-2.png);">
                                            <div class="about-three__experience__content">
                                                <h3 class="about-three__experience__title">Together</h3>
                                                <!-- /.about-three__experience__title -->
                                                <p class="about-three__experience__text">Empowering<br>Nepali
                                                    Professionals
                                                </p>
                                                <!-- /.about-three__experience__text -->
                                            </div><!-- /.about-three__experience__content -->
                                        </div><!-- /.about-three__experience -->
                                        <img src="assets/images/shapes/about-shape-3-1.png" alt="about-shape"
                                            class="about-three__shape">
                                        <div class="about-three__shape-box"></div><!-- /.about-three__shape-box -->
                                    </div><!-- /.about-three__image__inner -->
                                </div><!-- /.about-three__image -->
                            </div><!-- /.col-lg-6 -->
                            <div class="col-lg-6">
                                <div class="about-three__content">
                                    <div class="sec-title">

                                        <h6 class="sec-title__tagline @@extraClassName">ABOUT NEPALI ROOTS</h6>
                                        <!-- /.sec-title__tagline -->

                                        <h3 class="sec-title__title">Helping Each Other Can Make World <span
                                                class='sec-title__title__inner'>Better</span></h3>
                                        <!-- /.sec-title__title -->
                                    </div><!-- /.sec-title -->
                                    <p class="about-three__text about-three__text--one">Empowering Nepali Professionals
                                        In
                                        Germany:
                                        Connecting, Educating, and Supporting Growth and Well-being within Our Community
                                    </p>
                                    <!-- /.about-three__text -->
                                    <p class="about-three__text about-three__text--two">
                                        Our mission is to connect Nepali professionals in Germany, fostering a
                                        supportive
                                        network where members can help each other achieve excellence in their
                                        professional,
                                        career, and personal growth. We are dedicated to offering educational workshops,
                                        training sessions, and webinars on a variety of topics that benefit the Nepali
                                        community. Additionally, we believe in collaborating with Nepali educational
                                        institutions to elevate their educational standards.
                                        We also provide support to individuals in managing their mental well-being
                                        throughout
                                        their professional journey.</p>
                                    <!-- /.about-three__text -->


                                </div><!-- /.about-three__content -->
                            </div><!-- /.col-lg-6 -->
                        </div><!-- /.row -->
                    </div><!-- /.container -->

                </section><!-- /.about-three -->

                <%- include ("../partials/bond-borders-section.ejs") %>

                    <%- include ("../partials/past-events-section.ejs") %>

                    <%- include ("../partials/nepali-roots-summit-gallery-sliders.ejs") %>

                        <section class="donations-gift section-space">
                            <div class="container-fluid">
                                <div class="row gutter-y-30">
                                    <div class="donations-gift__col col-lg-6 wow fadeInUp" data-wow-duration="1500ms"
                                        data-wow-delay="00ms">
                                        <div class="donation-information">
                                            <div class="donation-information__bg"
                                                style='background-image: url(assets/images/nepali-roots/sections/volunteer.png)'>
                                            </div><!-- /.donation-information__bg -->
                                            <div class="donation-information__content">
                                                <h3 class="donation-information__title">Join us & become a volunteer
                                                </h3>
                                                <!-- /.donation-information__title -->
                                                <p class="donation-information__text">
                                                    We aim to connect Nepali professionals in Germany, fostering a
                                                    supportive
                                                    network where members can help each other achieve excellence in
                                                    their
                                                    professional,
                                                    career, and personal growth.
                                                </p>
                                                <!-- /.donation-information__text -->
                                                <ul class="donation-information__list">
                                                    <li>
                                                        <i class="fas fa-check"></i>
                                                        <span>Connect</span>
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-check"></i>
                                                        <span>Learn</span>
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-check"></i>
                                                        <span>Share</span>
                                                    </li>
                                                </ul><!-- /.donation-information__list -->
                                                <div class="donation-information__bottom">
                                                    <a href="https://forms.gle/j2em8nYAuAXxzsxH9" target="_blank"
                                                        class="cleenhearts-btn cleenhearts-btn--border">
                                                        <div class="cleenhearts-btn__icon-box">
                                                            <div class="cleenhearts-btn__icon-box__inner"><span
                                                                    class="icon-duble-arrow"></span></div>
                                                        </div>
                                                        <span class="cleenhearts-btn__text">Become A Volunteer</span>
                                                    </a>

                                                </div><!-- /.donation-information__bottom -->
                                            </div><!-- /.donation-information__content -->
                                        </div><!-- /.donation-information -->
                                        <div class="donations-gift__shapes">
                                            <div class="donations-gift__shape donations-gift__shape--one"></div>
                                            <!-- /.donations-gift__shape__one -->
                                        </div><!-- /.donations-gift__shapes -->
                                    </div><!-- /.donations-gift__col col-lg-6 -->
                                    <div class="donations-gift__col col-lg-6 wow fadeInUp" data-wow-duration="1500ms"
                                        data-wow-delay="200ms">
                                        <div class="gift-card">
                                            <div class="gift-card__bg"
                                                style='background-image: url(assets/images/nepali-roots/sections/ai-nepali-gathering.png)'>
                                            </div>
                                            <!-- /.gift-card__bg -->
                                            <div class="gift-card__content">
                                                <h3 class="gift-card__title">
                                                    Curious about our activities?
                                                </h3><!-- /.gift-card__title -->
                                                <p class="gift-card__text">
                                                    We regularly host informational webinars, podcasts, and meetups.
                                                </p><!-- /.gift-card__text -->

                                                <ul class="donation-information__list">
                                                    <li>
                                                        <i class="fas fa-check"></i>
                                                        <span>Webinars</span>
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-check"></i>
                                                        <span>Meetups</span>
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-check"></i>
                                                        <span>Social Collaboration</span>
                                                    </li>
                                                </ul><!-- /.donation-information__list -->

                                                <a href="/events" class="cleenhearts-btn cleenhearts-btn--border">
                                                    <div class="cleenhearts-btn__icon-box">
                                                        <div class="cleenhearts-btn__icon-box__inner"><span
                                                                class="icon-duble-arrow"></span></div>
                                                    </div>
                                                    <span class="cleenhearts-btn__text">Follow our activites</span>
                                                </a>
                                            </div><!-- /.gift-card__content -->
                                        </div><!-- /.gift-card -->
                                        <div class="donations-gift__shapes">
                                            <div class="donations-gift__shape donations-gift__shape--two"></div>
                                            <!-- /.donations-gift__shape__two -->
                                        </div><!-- /.donations-gift__shapes -->
                                    </div><!-- /.donations-gift__col col-lg-6 -->
                                </div><!-- /.row -->
                            </div><!-- /.container-fluid -->
                        </section><!-- /.donations-gift section-space-bottom -->
                        
                        
                        <%- include ("../partials/faqs-section.ejs") %>


                            <section class="about-info-two">
                                <div class="container">
                                    <div class="about-info-two__wrapper">
                                        <div class="about-info-two__bg"
                                            style="background-image: url('assets/images/backgrounds/about-info-2-1.png');">
                                        </div>
                                        <!-- /.about-info-two__bg -->
                                        <div class="row gutter-y-30">
                                            <div class="col-lg-3">
                                                <div class="about-info-two__logo">
                                                    <img src="assets/images/nepali-roots/logos/logo-red.png"
                                                        alt="logo-dark" width="159">
                                                </div><!-- /.about-info-two__logo -->
                                            </div><!-- /.col-lg-3 -->
                                            <div class="col-lg-6">
                                                <div class="about-info-two__volunteer">
                                                    <a href="mailto:contact@nepaliroots.org"
                                                        class="cleenhearts-btn cleenhearts-btn--border-base">
                                                        <div class="cleenhearts-btn__icon-box">
                                                            <div class="cleenhearts-btn__icon-box__inner"><span
                                                                    class="icon-duble-arrow"></span></div>
                                                        </div>
                                                        <span class="cleenhearts-btn__text">Any feedback for us?</span>
                                                    </a><!-- /.cleenhearts-btn -->

                                                </div><!-- /.about-info-two__volunteer -->
                                            </div><!-- /.col-lg-6 -->
                                            <div class="col-lg-3">
                                                <div class="about-info-two__social social-link-two">
                                                    <a href="https://facebook.com">
                                                        <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                                        <span class="sr-only">Facebook</span>
                                                    </a>
                                                    <a href="https://twitter.com">
                                                        <i class="fab fa-twitter" aria-hidden="true"></i>
                                                        <span class="sr-only">Twitter</span>
                                                    </a>

                                                    <a href="https://www.youtube.com/@nepali-roots" aria-hidden="true">
                                                        <i class="fab fa-youtube"></i>
                                                        <span class="sr-only">Youtube</span>
                                                    </a>
                                                </div><!-- /.about-info-two__social footer-two__social -->
                                            </div><!-- /.col-lg-3 -->
                                        </div><!-- /.row -->
                                    </div><!-- /.about-info-two__wrapper -->
                                </div><!-- /.container -->
                            </section><!-- /.about-info-two -->

                            <%- include ("../partials/footer.ejs") %>

    </div><!-- /.page-wrapper -->

    <%- include ("../partials/mobile-menus.ejs") %>

        <%- include ("../partials/scroll-to-top.ejs") %>

            <%- include ("../partials/sidebar-right-overlay.ejs") %>

                <%- include ("../partials/footer-scripts.ejs") %>

</body>

</html>
